<!--
  Generated template for the MesTrajetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Mes Trajets</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list *ngIf="show ">
        <ion-item *ngFor="let trajet of mesTrajets" (click)='selectTrajet(trajet)'>
            <h2> De {{ trajet.ville_depart }} à {{trajet.ville_arrive}}</h2>
            <h6>Le {{trajet.date}}</h6>
            <!-- <h6 *ngIf="trajet.conducteur.id == userId">En tant que conducteur</h6> -->
            <!-- <h6 *ngIf="trajet.conducteur.id != userId">En tant que passager</h6> -->
        </ion-item>
    </ion-list>
    <div class="center" *ngIf="!show">
        <h6>
            Vous n'avez pas encore effectué de trajet, retrouver les différents trajets proposé dans l'onglet accueil ;)
        </h6>
    </div>


</ion-content>