<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>registerPage</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form  #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item class="ionItem">
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input>
            </ion-item>
            
            <ion-item class="ionItem">
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required></ion-input>
            </ion-item>

            <ion-item class="ionItem">
              <ion-input type="password" placeholder="Password" name="password2" [(ngModel)]="password2" required></ion-input>
            </ion-item>

            <ion-item class="ionItem">
              <ion-input type="text" placeholder="Nom" name="nom" [(ngModel)]="nom" required></ion-input>
            </ion-item>
            
            <ion-item class="ionItem">
              <ion-input type="text" placeholder="Prenom" name="prenom" [(ngModel)]="prenom" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full (click)="create()" [disabled]="!registerForm.form.valid">Create Account</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>