<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Mes Trajets" tabIcon="car"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Proposer" tabIcon="add-circle"></ion-tab>
</ion-tabs>