<ion-header>
    <ion-navbar [hideBackButton]="true">
        <ion-title>
            Home
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content text-center padding>
    <div class="home-header">
        <h1>Bienvenue sur BaBaCar</h1>
    </div>

    <ion-chip #chip1 *ngIf="showFilterVD">
        <ion-label>{{villeDepart}}</ion-label>
        <button ion-button clear color="light" (click)="deleteChipVD(chip1)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-chip>

    <ion-chip #chip2 *ngIf="showFilterVA">
        <ion-label>{{villeArrive}}</ion-label>
        <button ion-button clear color="light" (click)="deleteChipVA(chip2)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-chip>

    <ion-chip #chip3 *ngIf="showFilterDate">
        <ion-label>{{myDate}}</ion-label>
        <button ion-button clear color="light" (click)="deleteChipDate(chip3)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-chip>

    <ion-searchbar *ngIf="showSearchBarVD" [(ngModel)]="villeDepart" (ionInput)="getItems($event,true)" placeholder="De : ">
    </ion-searchbar>

    <ion-searchbar *ngIf="showSearchBarVA" [(ngModel)]="villeArrive" (ionInput)="getItems($event,false)" placeholder="A : ">
    </ion-searchbar>



    <ion-list *ngIf="showList">
        <ion-item *ngFor="let localisation of localisationList" (click)='selectItem(localisation)'>
            <h2> {{ localisation.nom }} - {{localisation.code}}</h2>
        </ion-item>
    </ion-list>

    <ion-item *ngIf="showDate">
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate" (ionChange)="dateTimeChange()"></ion-datetime>
    </ion-item>

    <ion-list>
        <ion-item *ngFor="let trajet of trajets" (click)='selectTrajet(trajet)'>
            <h2>{{trajet.ville_depart}} - {{trajet.ville_arrive}} {{trajet .prix}} €</h2>
            <h3>Place restante : {{trajet.nbPlace}} - {{trajet.date}}</h3>
        </ion-item>
    </ion-list>









</ion-content>