page-home {
   .home-header{
       margin-right: auto;
       margin-left: auto;
        width: 100%;
        overflow: hidden;
   }

    .header-logo{
        width: 25%;
        height: 100%;
        background: transparent;
        margin-bottom: -5%;
    }

}
