<!--
  Generated template for the ShowTrajetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>{{trajet.ville_depart}} - {{trajet.ville_arrive}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h6>{{trajet.date}}</h6>
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>
                <h4>{{trajet.prix}} €</h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h6>Trajet proposé par : {{trajet.conducteur.prenom}} {{trajet.conducteur.nom}} </h6>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h6>{{trajet.passagers.length}} personnes ont déja réservé une places sur ce trajet</h6>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="trajet.passagers.length == trajet.nbPlace">
            <ion-col>
                <h6>Malheureusement plus aucune place n'est disponible sur ce trajet</h6>
            </ion-col>
        </ion-row>
        <div *ngIf="trajet.passagers.length != trajet.nbPlace">
            <ion-row>
                <ion-col>
                    <h6>Plus que {{trajet.nbPlace - trajet.passagers.length }} place(s) dispo</h6>
                </ion-col>

            </ion-row>

            <div class="div" *ngIf="!alreadyPassager && !conducteur">
                <button ion-button round center (click)="reserverPlace()" class="div">Réserver ma place</button>
            </div>
            <div class="div" *ngIf="alreadyPassager && !conducteur">
                <button ion-button round center (click)="annulerReservation()" class="div">Annuler ma reservation</button>
            </div>
            <div class="div" *ngIf="conducteur">
                <button ion-button round center (click)="annulerTrajet()" class="div">Annuler mon trajet</button>
            </div>

        </div>
        <!-- <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
                <p>Trajet proposé par : </p>
            </ion-col>
        </ion-row> -->
    </ion-grid>
</ion-content>