page-creation-trajet {
    h6 {
        color: red;
        text-align: center;
    }
    .creation {
        margin-top: 5%;
        text-align: center;
    }
    .content {
        padding-top: 5%;
    }
}