<!--
  Generated template for the CreationTrajetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar >
        <ion-title>Nouveau trajet</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div class="creation">
        <ion-chip #chip1 *ngIf="boolDepart">
            <ion-label> De : {{depart}}</ion-label>
            <button ion-button clear color="light" (click)="delete(chip1, 'dep')">
                                   <ion-icon name="close-circle"></ion-icon>
                                </button>
        </ion-chip>
        <ion-chip #chip2 *ngIf="boolArrivee">
            <ion-label> A : {{arrivee}}</ion-label>
            <button ion-button clear color="light" (click)="delete(chip2, 'arr')">
                                       <ion-icon name="close-circle"></ion-icon>
                         </button>
        </ion-chip>

        <ion-chip #chip3 *ngIf="boolDate">
            <ion-label>le : {{ date }}</ion-label>
            <button ion-button clear color="light" (click)="delete(chip3, 'date')">
                                           <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-chip>

        <ion-chip #chip4 *ngIf="boolPrix">
            <ion-label>{{ prix }}€</ion-label>
            <button ion-button clear color="light" (click)="delete(chip4, 'prix')">
                                               <ion-icon name="close-circle"></ion-icon>
                </button>
        </ion-chip>

        <ion-chip #chip5 *ngIf="boolPlace">
            <ion-label>{{ place }} places</ion-label>
            <button ion-button clear color="light" (click)="delete(chip5, 'place')">
                                                   <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-chip>

    </div>

    <div class="creation" *ngIf="!boolDepart || !boolArrivee">
        <h6> Sélectionner une ville départ et une ville d'arrivée</h6>

        <ion-searchbar [(ngModel)]="city" (ionInput)="getItems($event)" placeholder="{{holder}}" (click)='onclicksearch($event)'>
        </ion-searchbar>


        <ion-list *ngIf="showList">
            <ion-item *ngFor="let localisation of localisationList" (click)='selectItem(localisation)'>
                <h2> {{ localisation.nom }} - {{localisation.code}}</h2>
            </ion-item>
        </ion-list>
        <a (click)="getLocalisation()"> Utiliser la géolocalisation</a>
    </div>
    <!--  -->

    <div class="creation" *ngIf="boolDepart && boolArrivee && !boolDate">
        <h6> Sélectionner la date de votre trajet </h6>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="date" (ngModelChange)="onselectdate()" [(min)]="minDate"></ion-datetime>
        </ion-item>
    </div>


    <div class="creation" *ngIf="boolDepart && boolArrivee && boolDate && !boolPrix">
        <ion-item>
            <ion-input type="number" clearInput="true" [(ngModel)]="prix" (ionBlur)="pricechange()" placeholder="Entrez le prix du trajet"></ion-input>
        </ion-item>
    </div>

    <div class="creation" *ngIf="boolDepart && boolArrivee && boolDate && boolPrix && !boolPlace">
        <ion-item>
            <ion-input type="number" clearInput="true" [(ngModel)]="place" (ionBlur)="placechange()" placeholder="Entrez le nombre de place disponible"></ion-input>
        </ion-item>
    </div>

    <div class="creation" *ngIf="boolDepart && boolArrivee && boolDate && boolPrix && boolPlace">
        <h6> Avant de valider assurez vous que les données informées sont correctes </h6>
        <button ion-button round center (click)="creerTrajet()">Valider</button>
    </div>

</ion-content>